/** IMPORTANDO FONTE **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/** RESET BÁSICO **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
/** FONTES  E TEXTOS **/
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1 { 
  color: white;
  font-size: 3rem;
}
p {
  color: #b49e99;
  font-size: 1.5rem;

}
footer > p {
  margin: 12px;
  color: #ABA3A1;
  font-size: 1rem;

}
figcaption {
  color: white;
  font-size: 1.5rem;

}
/** CABEÇALHO **/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  height: 64px;
  background-color: #1E1614;
}
.logo {
  width: auto;
  height: 48px;
  margin: 12px;
}
/** Conteúdo **/
body {
  width: auto;
  background-color: #332C2B;
}
/**  TEXTO E FIGURA 01 **/
.container-main {
  margin: 12px;
}
.text-main1 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 32px;
  justify-items: center;
  margin: 128px;

}
.mountain {
  width: 550px;
  height: auto;
}
/** TEXTO E FIGURA 02 **/
.text-main2 {
  display: grid;
  grid-template-columns: repeat(2,1fr); 
  justify-items: center;
  gap: 32px;
  margin: 128px;
}
.pixelart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
}
.pixelart1, .pixelart2, .pixelart3 {
  border-radius: 12px;
  width: 100%;
  height: auto;
}
.pixelart1 {
  align-self: flex-end;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.pixelart2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.pixelart3 {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}
/*! SEGUNDA SESSÃO */

/** GALERIA **/
.gallery-container {
  margin-top: 256px;
  display: grid;
  grid-template-columns: repeat(4,256px);
  gap: 12px;
  justify-content: center;
  
}
figure > img {
  width: 256px;
  height: auto;

}
/*! TERCEIRA SESSÃO */
form {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
legend {
  position: relative;
  bottom: 24px;
  font-size: 2rem;
  color: white;

}
fieldset {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #101416;
  border-radius: 12px;
  border: none;
  padding: 12px;

  width: 400px;
  height: 540px;
  margin: 32px;
}
input {
  outline: 0;
  border: none;
  padding-left: 8px;
  border-radius: 12px;
}
button {
  font-size: 2rem;
  width: 50%;
  justify-self: center;
  border: none;
  border-radius: 12px;
  background-color: #E52C00;
  color: white;

}
label {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: center;

}
/*!##################################################
            /*! CHECKMARK PERSONALIZADA!!!!!!
/*! #################################################
/* Checkbox */
.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 8px;

  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container > label {
  color:#b49e99

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #E52C00
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/** RODAPÉ **/
footer {
  width: auto;
  height: 96px;

  display: flex;
  flex-flow: column;

  background-color: #1E1614;
  margin-top: auto;
}
/**  RESPONSIVIDADE  **/
@media (max-width: 1200px) {
  /** FONTES **/
  .roboto-bold {
    text-align: center;
    font-size: 2rem;
  }
  .roboto-regular {
    text-align: center;
    font-size: 1rem;
  }
  /** TEXTO E FIGURA 01 **/
  .mountain {
    width: 500px;
  }
  .text-main1 {
    margin: 0;
    grid-template-columns: 1fr;
  
  }
   /** TEXTO E FIGURA 02 **/
  .text-main2 {
    margin: 0;
    grid-template-columns: 1fr;
  }  
  /** GALERIA **/
  .gallery-container {
    grid-template-columns: repeat(3,224px);
  }
  figure > img {
    width: 224px;
    height: auto;
  }
}
@media (max-width: 700px) {
  /** TEXTO E FIGURA 01 **/
  .mountain {
    width: 300px;
  }
  .text-main1 {
    grid-template-columns: 1fr;
  }
  /** TEXTO E FIGURA 02 **/
  .text-main2 {
    grid-template-columns: 1fr;
  }
  .logo {
    width: 80px;
    height: auto;
  }
  header {
    justify-content: center;
    align-items: center;
    height: 128px;
  }
}
@media (max-width: 600px) {
  /** GALERIA **/
  .gallery-container {
    grid-template-columns: repeat(3,160px);
  }
  figure > img {
    width: 160px;
    height: auto;
  }
  figcaption {
    display: none;

  }

}
@media (max-width: 500px) {
  .mountain {
    width: 256px;
  }
  .text-main1 {
    grid-template-columns: 1fr;
  }
  .text-main2 {
    margin-bottom: 96px;
    grid-template-columns: 1fr;
  
  }
  /** GALERIA **/
  .gallery-container {
    grid-template-columns: repeat(2,160px);
  }
  figure > img {
    width: 160px;
    height: auto;
  }
  figcaption {
    display: none;

  }
}

